{% extends "base.html" %}

{% block body %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','gauge']});

      google.charts.setOnLoadCallback(drawPingChart);
      google.charts.setOnLoadCallback(drawGaugeChart);

      function drawPingChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'latency'],
          {%- for i in range(length) %}
          ['{{ data["x"][i] }}',{{ data["y"][i] }}],
          {%- endfor %}
        ]);

        var options = {
          title: 'Ping History',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_ping_div'));
        chart.draw(data, options);
      }

    function drawGaugeChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Latency(ms)', 80],
          ['Packet loss(%)', 55]
        ]);

        var options = {
          title: 'Average Latency and Packet loss',
          width: 800,
          height: 240,
          redFrom: 90,
          redTo: 100,
          yellowFrom: 75,
          yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('gauge_chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, {{avg}});
          chart.draw(data, options);
        }, 1000);
        setInterval(function() {
          data.setValue(1, 1, {{loss}});
          chart.draw(data, options);
        }, 1000);
      }

    </script>
<div align="center"><h2>Hostname : {{hostname}}</h2></div>
<div id="chart_ping_div" style="width: 1500px; height: 800px;"></div>
<div align="center"><h4>Average Latency(ms) and Packet drop(%)</h4></div>
<div align="center"><div id="gauge_chart_div" style="width: 400px; height: 120px;"></div> </div>
{% endblock body %}
