{% extends "base.html" %}

{% block body %}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<div class="center">
<h1>"Welcome to PyPing"</h1>
    <p>Click on table to view devices being monitored. Click on Add device to add device to be monitored.</p>
        <p>Have an ideas to improve? Feel free to leave a
        <a href="https://www.messenger.com/t/pranavkondala"> message</a></p>
    <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/pranavkondala/py_ping/fork" data-icon="octicon-repo-forked"
   data-style="mega" data-count-href="/pranavkondala/py_ping/network" data-count-api="/repos/pranavkondala/py_ping#forks_count"
   data-count-aria-label="# forks on GitHub" aria-label="Fork pranavkondala/py_ping on GitHub">Fork</a>


    <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/pranavkondala/py_ping" data-style="mega"
   data-count-href="/pranavkondala/py_ping/watchers" data-count-api="/repos/pranavkondala/py_ping#subscribers_count"
   data-count-aria-label="# watchers on GitHub" aria-label="Watch pranavkondala/py_ping on GitHub">Watch</a>
</div>
{% endblock body %}
